<launch>
  <arg name="project" default="my_work"/>
	<arg name="rviz" default="false" />

    <rosparam command="load" file="$(find my_work)/config/lio_config.yaml" />

    <!-- <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping" output="screen" />  -->

  <arg name="config_path" default = "$(find my_work)/config/filr_cam.yaml" />
	<arg name="vins_path" default = "$(find my_work)/config/../" />
    <rosparam command="load" file="$(find my_work)/config/lio_config.yaml" />
    <node name="feature_tracker" pkg="my_work" type="feature_tracker" output="screen">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
        <param name="image_topic" type="string" value="/camera/image_color"/>
    </node>

	<group if="$(arg rviz)">
	<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find my_work)/config/rviz_cfg/loam_livox.rviz"/>
	</group>

    <!-- Image conversion -->
    <node pkg="image_transport" type="republish" name="$(arg project)_republish" args="compressed in:=/camera/image_color out:=/camera/image_color" output="screen" respawn="true"/>

</launch>

